body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

button {
  margin-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container .buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-container .buttons button {
  flex: 1;
  margin: 0 5px;
}

.form-container .buttons .active {
  background-color: #b3d7ff;
}

.form-container .categories {
  display: flex;
  justify-content: space-between;
}

.form-container .categories button {
  flex: 1;
  margin: 0 5px;
}

.form-container input,
.form-container textarea {
  margin-top: 10px;
}
